{% for message in messages %}
  <p> {{message.created_at}} </p>
  <p> {{message.user.first_name}} posted: {{message.message}} </p>
  {% for comment in comments %}
    <p> {{comment.created_at}} </p>
    <p> {{comment.user.first_name}} commented: {{comment.comment}} </p>
  {% endfor %}
  <form class="post_comment col s8" action="/post_comment/{{message.id}}" method="post">
    {% csrf_token %}
      <label for="textarea1"> Post a Comment: </label>
      <div class="input-field col s8">
        <textarea id="textarea1" class="materialize-textarea" name="comment_field"></textarea>
        <button class="submit_post btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
      </div>
  </form>
{% endfor %}
